<div class="flex-col mb-3 block appearance-none 
    w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" [ngClass]="{'disabled-control': isControlDisabled}">
    <label class="mt-label" *ngIf="label">
        {{ label }} <span class="required-symbol" *ngIf="requiredField">*</span>
    </label>
    <ng-select class="inline-block relative w-64"   
        [placeholder]="placeholder" 
        [items]="items" 
        [bindValue]="bindValue" 
        [bindLabel]="bindLabel"
        [clearable]="clearable"
        (change)="_onChange($event)" (focus)="_onTouched($event)" class="select-dropdown-panel">
        <ng-option [value]="item.id" [disabled]="item.disabled" *ngFor="let item of items">
            {{item}}
        </ng-option>
    </ng-select>
</div>