<div>
    <form [formGroup]="formWeb">
        <!-- <app-input [maxLength]="50" [placeholder]="'Ingrese Correo'" formControlName="correo"></app-input> -->
        <app-input-control [type]="'text'" [placeholder]="'Ingrese Web'" formControlName="web"></app-input-control>
    </form>
</div>
