.container-encuesta {
  width: 46vw;
  float: right;
  margin: 73px 99px 0px 53px;
  position: relative;
//  background-image: url('./../../../../../../assets/img/hware/pattern_02.jpg');

  .current {
    display: inline;
  }
  .d-none {
    display: none;
  }

  .encuesta {
    .pregunta {
      text-align: center;
      padding: 3vh;
    }
    .tipo-pregunta {
      margin: 81px;
    }
  }
}
