<app-layout-side-left></app-layout-side-left>

<div class="container-encuesta">
    <div *ngFor="let q of preguntas; let i = index"
        [ngClass]="{'current': step == preguntas.indexOf(q)+1, 'd-none': step != preguntas.indexOf(q)+1}">

        <div class="encuesta">
            <div class="pregunta">
                <h3 class="step-questions">{{ i+1 }}/{{ preguntas.length }}</h3>
                <span> {{ q.pregunta }}</span>
            </div>

            <div class="tipo-pregunta">
                <app-csat *ngIf="q.idTipoPregunta === '1'"></app-csat>
                <app-nps *ngIf="q.idTipoPregunta === '2'"></app-nps>
                <app-seleccion-multiple *ngIf="q.idTipoPregunta === '3'" [pregunta]="q" [opciones]="q.opciones"></app-seleccion-multiple>
                <app-lista-desplegable *ngIf="q.idTipoPregunta === '4'"></app-lista-desplegable>
                <app-respuesta-corta *ngIf="q.idTipoPregunta === '5'"></app-respuesta-corta>
                <app-respuesta-larga *ngIf="q.idTipoPregunta === '6'"></app-respuesta-larga>
                <app-correo *ngIf="q.idTipoPregunta === '7'"></app-correo>
                <app-telefono *ngIf="q.idTipoPregunta === '8'"></app-telefono>
                <app-dicotomica *ngIf="q.idTipoPregunta === '9'"></app-dicotomica>
                <app-numero *ngIf="q.idTipoPregunta === '11'"></app-numero>
                <app-web *ngIf="q.idTipoPregunta === '12'"></app-web>
                <app-observacion *ngIf="q.tipoPregunta === 'OBS'"></app-observacion>
               
            </div>

        </div>

    </div>
    <div class="container-button space-x-2 float-right inline-flex">
        <app-button class="button-back" *ngIf="step > 1"  [text]="'Retroceder'" [step]=1  (click)="back()"></app-button>
        <app-button class="button-follow" *ngIf="(step < preguntas.length)" [text]="'Avanzar'" [step]=1 (click)="follow()"></app-button>
        <app-button class="button-follow" *ngIf="step >= preguntas.length" [text]="'Enviar'" [step]=1 (click)="follow()"></app-button>

    </div>

</div>