<div>
    <button 
    class="rounded-full h-16 w-32 flex items-center justify-center" 
        [style]="style" 
        [value]="valor"  
        [type]="type">
        <img appImageSelector [imageType]="imageType" [imageKey]="imageKey">
    </button>
</div>
 