<div class="button-container text-center">
    <div class="button float-right" [ngClass]="{'disabled': disabled }" (click)="disabled ? null : $clickHandler($event)"
        title="{{text}}">
        <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-32">
            {{text}}
        </div>
    </div>
</div>