<div class="container-csat flex relative">
    <div class="w-200">
        <app-nps-control [style]="" [type]="'submit'" [valor]="'1'" [imageType]="'csat'" [imageKey]="'rating-bt-1_v2'">
        </app-nps-control>
    </div>
    <div class="w-200">
        <app-nps-control [style]="" [type]="'submit'" [valor]="'2'" [imageType]="'csat'" [imageKey]="'rating-bt-2_v2'">
        </app-nps-control>
    </div>
    <div class="w-200">
        <app-nps-control [style]="" [type]="'submit'" [valor]="'3'" [imageType]="'csat'" [imageKey]="'rating-bt-3_v2'">
        </app-nps-control>
    </div>
    <div class="w-200">
        <app-nps-control [style]="" [type]="'submit'" [valor]="'4'" [imageType]="'csat'" [imageKey]="'rating-bt-4_v2'">
        </app-nps-control>
    </div>
    <div class="w-200">
        <app-nps-control [style]="" [type]="'submit'" [valor]="'5'" [imageType]="'csat'" [imageKey]="'rating-bt-5_v2'">
        </app-nps-control>
    </div>
</div>