<div class="">

    <label *ngIf="label" class="hw-label">
        {{ label }}
    </label>
    <div *ngIf="type === 'text' || type === 'email' || type === 'number' else checkTemplate">
        <input class="w-full p-3 font-thin transition duration-200 
        focus:shadow-md focus:outline-none ring-offset-2 
        border border-gray-400 rounded-lg focus:ring-2 focus:ring-purple-300" [class]="class" [value]="value"
            [type]="type" [placeholder]="placeholder" (input)="onInput($event)">
    </div>
    <ng-template #checkTemplate>
        <div>
            <input class="w-5 p-3 font-thin transition duration-200 
            focus:shadow-md focus:outline-none ring-offset-2 
            border border-gray-400 rounded-lg focus:ring-2 focus:ring-purple-300" [value]="value"
            [type]="type" [placeholder]="placeholder" (input)="onInput($event)">
        </div>
    </ng-template>
</div>