<div class="inline-flex">
  <div [style]="STYLE_NPS" type="'button'" valor="'2'">2</div>
  <!-- <app-nps-control [style]="STYLE_NPS" [type]="'button'" [valor]="'1'">1</app-nps-control>
  <app-nps-control [style]="STYLE_NPS" [type]="'button'" [valor]="'2'">2</app-nps-control>
  <app-nps-control [style]="STYLE_NPS" [type]="'button'" [valor]="'3'">3</app-nps-control>
  <app-nps-control [style]="STYLE_NPS" [type]="'button'" [valor]="'1'">4</app-nps-control>
  <app-nps-control [style]="STYLE_NPS" [type]="'button'" [valor]="'1'">5</app-nps-control>
  <app-nps-control [style]="STYLE_NPS" [type]="'button'" [valor]="'1'">6</app-nps-control>
  <app-nps-control [style]="STYLE_NPS" [type]="'submit'" [valor]="'2'" [imageType]="" [imageKey]="''">7</app-nps-control> -->
</div>