<div class="container">
    <div class="row">
        <form [formGroup]="formObservacion">
            <div class="opcion-radio inline-flex">
                <div class="col-1 mr-3 py-2">

                    <app-input-control class="input-radio" [type]="'radio'" formControlName="reclamo" value="r">
                    </app-input-control>
                    Reclamo

                </div>
                <div class="col-1 mr-3 py-2">

                    <app-input-control class="input-radio" [type]="'radio'" formControlName="sugerencia" value="s">
                    </app-input-control>
                    Sugerencia

                </div>
                <div class="col-1 mr-3 py-2">

                    <app-input-control class="input-radio" [type]="'radio'" formControlName="felicitacion" value="f">
                    </app-input-control>
                    Felicitacion

                </div>
            </div>
            <div class="text-area">
                <app-input-control [type]="'text'" [label]="'Observacion'" [placeholder]="'Ingrese Observación'"
                    [class]="'col-12 text-input'" formControlName="observacion"></app-input-control>
            </div>
            <div class="informacion col-3">
                <app-input-control [type]="'text'" [label]="'Nombre'" [placeholder]="'Ingrese Nombre'"
                    formControlName="nombre"></app-input-control>
               
            </div>
        </form>
    </div>
</div>