<div>
    <form [formGroup]="formDicotomica">
        <!-- <app-input [maxLength]="50" [placeholder]="'Ingrese Correo'" formControlName="correo"></app-input> -->
        <!-- <app-input-control [type]="'radio'" class="form-radio" formControlName="respuestaDicotomica" checked value="si"></app-input-control>
        <span>SI</span>
        <app-input-control [type]="'radio'" class="form-radio" formControlName="respuestaDicotomica" value="no"></app-input-control> -->

        <label class="inline-flex items-center">
            <app-input-control [type]="'radio'" [class]="'form-radio text-green-500 h-4 w-4'" name="radio-colors" formControlName="respuestaDicotomica"
                checked value="si"></app-input-control>
            <span class="ml-3 text-lg">Si</span>
        </label>
        <label class="inline-flex items-center">
            <app-input-control [type]="'radio'" [class]="'form-radio text-pink-600 h-4 w-4'" name="radio-colors" formControlName="respuestaDicotomica"
                value="no"></app-input-control>
            <span class="ml-3 text-lg">No</span>
        </label>
    </form>
</div>