<div>
    <form [formGroup]="formCorreo">
        <!-- <app-input [maxLength]="50" [placeholder]="'Ingrese Correo'" formControlName="correo"></app-input> -->
        <app-input-control [type]="'email'" [placeholder]="'Ingrese Correo'" formControlName="correo"></app-input-control>
    </form>
</div>