<div>
    <form [formGroup]="formNumero">
        <!-- <app-input [maxLength]="50" [placeholder]="'Ingrese Correo'" formControlName="correo"></app-input> -->
        <app-input-control [type]="'number'" [placeholder]="'Ingrese Número'" formControlName="respuestaNumero"></app-input-control>
    </form>
</div>

