<div>
    <form [formGroup]="formRespuestaLarga">
        <!-- <app-input [maxLength]="50" [placeholder]="'Ingrese Correo'" formControlName="correo"></app-input> -->
        <app-input-control [type]="'text'" [placeholder]="'Ingrese Respuesta'" formControlName="respuestaLarga"></app-input-control>
    </form>
</div>

