@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~@ng-select/ng-select/themes/default.theme.css";

.body{
    background-image: url('./assets/img/hware/pattern_02.jpg');
    background-size: cover;
}