<div class="container-multiselect row justify-content-center mx-3">
    <div class="container-opcion col-6 align-self-center" *ngFor="let item of opciones; let i=index">
        <div class="opciones">
            <app-input-control [type]="'checkbox'" [name]="'item.opcion'" [id]="'item.opcion'"
                aria-multiselectable="true"></app-input-control>
                <span>{{ item.opcion }}</span>
        </div>
    </div>
</div>
