.container-multiselect {
    color: black;
    font-size: 18px;

    .form-check-input {
        margin-top: 0.3rem !important;
        margin-left: 0 !important;
    }
    
    .opciones {
        .input-check{
            width: 1vw;
        }

    }
    
    .container-opcion{
        width: 150px;
    }
}