<div class="container-layout bg-white rounded-xl shadow-md overflow-hidden mx-10 my-12 absolute">
        <div class="container-image">
            <img class="image-side w-1/3" src='../../../../../assets/img/hware/pattern_01.jpg'
                alt="Man looking at item at a store">
        </div>
</div>