
<div>
    <form [formGroup]="phoneForm" class="mx-auto">
        <div class="text-center w-full p-3 font-thin transition duration-200 
        focus:shadow-md focus:outline-none ring-offset-2 
        border border-gray-400 rounded-lg focus:ring-2 focus:ring-purple-300">
            <ngx-intl-tel-input 
                [cssClass]="'custom'"
                [preferredCountries]="[countryISO.Chile]" 
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[searchCountryField.Iso2, searchCountryField.Name, searchCountryField.search]" 
                [selectFirstCountry]="true"
                [selectedCountryISO]="countryISO.Chile"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                formControlName="phone">
            </ngx-intl-tel-input>
            <br>
            <!-- <span *ngIf="phoneForm.get('phone').invalid && 
                phoneForm.get('phone').dirty" class="error-validation">El número de teléfono no es válido</span> -->
        </div>
    </form>
    
</div>


